<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteCond %{HTTPS} off
    RewriteCond %{REQUEST_URI} ^/login [NC]
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>

RewriteCond %{HTTP_REFERER} !^http://2kmodel.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kmodel.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kmodel.club.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kmodel.club.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kpaid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kpaid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kpaid.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://2kpaid.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makemorethanshots.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makemorethanshots.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makemorethanshots.com.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makemorethanshots.com.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kmodel.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kmodel.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kmodel.club.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kmodel.club.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kpaid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kpaid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kpaid.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.2kpaid.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makemorethanshots.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makemorethanshots.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makemorethanshots.com.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makemorethanshots.com.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kmodel.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kmodel.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kmodel.club.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kmodel.club.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kpaid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kpaid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kpaid.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://2kpaid.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makemorethanshots.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makemorethanshots.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makemorethanshots.com.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makemorethanshots.com.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kmodel.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kmodel.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kmodel.club.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kmodel.club.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kpaid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kpaid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kpaid.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.2kpaid.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makemorethanshots.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makemorethanshots.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makemorethanshots.com.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makemorethanshots.com.valenciaga.club$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.valenciaga.club/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.valenciaga.club$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
